[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
amqp = "*"
attrs = ">=18.1.0"
billiard = ">=3.5.0.3"
celery = "~=4.3.0"
certifi = ">=2018.4.16"
chardet = ">=3.0.4"
codecov = ">=2.0.15"
coverage = ">=4.5.1"
flower = "*"
fluent = ">=0.7.0"
fluent-logger = ">=0.9.3"
idna = ">=2.6"
jsonify = ">=0.5"
kombu = "*"
more-itertools = ">=4.1.0"
msgpack = "~=0.5.6"
pika = "~=0.11.2"
pluggy = ">=0.6.0"
py = ">=1.5.3"
pyaml = "*"
pytest = "*"
pytest-cov = "*"
pytz = ">=2018.4"
redis = "*"
requests = ">=2.18.4"
six = ">=1.11.0"
tornado = "~=5.0.2"
urllib3 = "~=1.22"
vine = "*"
Babel = ">=2.5.3"
PyYAML = "*"
ansible = "*"
mock = "*"
mocker = "*"

[requires]
python_version = "3.7"
